---
import Main from '../layouts/main.astro';
---

<Main title="About | Artellectual">
  <div class="bg-white">
    <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <div class="text-center">
        <h2 class="text-lg font-semibold text-purple-600">Focussed on Delivery</h2>
        <p class="mt-1 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl lg:text-6xl">About the Founder</p>
        <p class="mx-auto mt-5 max-w-xl text-xl text-gray-500">Zack Siri is an experienced product builder and digital product delivery expert, with over a decade of experience in the field. He has a track record of success in helping organizations bring their products to market, and is skilled at building and managing teams to achieve this goal. Zack is passionate about helping businesses succeed, and is committed to delivering the best possible results for his clients.</p>
      </div>
    </div>
  </div>
  <div class="overflow-hidden bg-white">
    <div class="relative mx-auto max-w-7xl py-16 px-4 sm:px-6 lg:px-8">
      <div class="absolute top-0 bottom-0 left-3/4 hidden w-screen bg-gray-50 lg:block"></div>
      <div class="mx-auto max-w-prose text-base lg:grid lg:max-w-none lg:grid-cols-2 lg:gap-8">
        <div>
          <h2 class="text-lg font-semibold text-purple-600">Profile</h2>
          <h3 class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Zack Siri</h3>
        </div>
      </div>
      <div class="mt-8 lg:grid lg:grid-cols-2 lg:gap-8">
        <div class="relative lg:col-start-2 lg:row-start-1">
          <svg class="absolute top-0 right-0 -mt-20 -mr-20 hidden lg:block" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
            <defs>
              <pattern id="de316486-4a29-4312-bdfc-fbce2132a2c1" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="404" height="384" fill="url(#de316486-4a29-4312-bdfc-fbce2132a2c1)" />
          </svg>
          <div class="relative mx-auto max-w-prose text-base lg:max-w-none">
            <figure>
              <div class="aspect-w-7 aspect-h-12 lg:aspect-none">
                <img class="rounded-lg object-cover object-center shadow-lg" src="/zack-profile.jpg" alt="Whitney leaning against a railing on a downtown street" width="1184" height="1376">
              </div>
              <figcaption class="mt-3 flex text-sm text-gray-500">
                <!-- Heroicon name: mini/camera -->
                <svg class="h-5 w-5 flex-none text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M1 8a2 2 0 012-2h.93a2 2 0 001.664-.89l.812-1.22A2 2 0 018.07 3h3.86a2 2 0 011.664.89l.812 1.22A2 2 0 0016.07 6H17a2 2 0 012 2v7a2 2 0 01-2 2H3a2 2 0 01-2-2V8zm13.5 3a4.5 4.5 0 11-9 0 4.5 4.5 0 019 0zM10 14a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
                </svg>
                <span class="ml-2">Zack Siri, Founder of Artellectual</span>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="mt-8 lg:mt-0">
          <div class="mx-auto max-w-prose text-base lg:max-w-none">
            <p class="text-lg text-gray-500">I am frequently hired by companies to build their core infrastructure and products. I am often the first member of a product team, and I have a track record of success in helping organizations launch their products quickly and efficiently.</p>
          </div>
          <div class="prose prose-indigo mx-auto mt-5 text-gray-500 lg:col-start-1 lg:row-start-1 lg:max-w-none">
            <p>Throughout my career, I have consistently demonstrated my belief that a small, focused team can achieve more than a large, disorganized one. I have successfully built products and organizations from the ground up, and I have learned from both my successes and failures to develop a successful formula for launching products.</p>
            <p>With over a decade of experience in this field, I am confident in my ability to help any team achieve its goals and bring its products to market successfully.</p>
            <p>I am a versatile and adaptable professional with a diverse skillset that allows me to work in a range of industries. Some examples of industries I have experience in include:</p>
            <ul role="list">
              <li>Travel: Hotel and car booking engines</li>
              <li>e-Commerce: Online stores</li>
              <li>Online Learning: Video on demand platform</li>
              <li>Banking and FinTech: Core banking and KYC platforms</li>
            </ul>
            <p>I have the ability to quickly learn and adapt to new environments and industries, making me a valuable asset to any team.</p>
            <p>I founded Artellectual in order to help people who have ideas but don't know how to turn them into products. Many of my friends and acquaintances have come to me with this problem, and I have always wanted to help them. Artellectual is my way of providing support to companies as they work to bring their products to market.</p>
          </div>
          <div class="mt-8">
            <h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Learn more about Zack's Work</h3>
            <div class="mt-8">
              <a href="https://linkedin.com/in/zacksiri" target="_blank" class="inline-block rounded-md px-4 py-1.5 text-base font-semibold leading-7 bg-sky-600 text-white hover:bg-sky-500">
                Linked In
                <span class="text-gray-50" aria-hidden="true">&rarr;</span>
              </a>
              <a href="https://github.com/zacksiri" target="_blank" class="inline-block rounded-md px-4 py-1.5 text-base font-semibold leading-7 bg-gray-700 text-white hover:bg-gray-600">
                Github
                <span class="text-gray-50" aria-hidden="true">&rarr;</span>
              </a>
              <a href="https://zacksiri.com" target="_blank" class="inline-block rounded-md px-4 py-1.5 text-base font-semibold leading-7 bg-gray-700 text-white hover:bg-gray-600">
                Blog
                <span class="text-gray-50" aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-purple-100">
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-24 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 md:text-4xl ">
        <span class="block">An hour making the right decisions</span>
        <span class="block text-purple-600">Can set your project up for success.</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <button onclick="$crisp.push(['do', 'chat:open'])" class="inline-flex items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-purple-700 to-indigo-700 px-5 py-3 text-base font-medium text-white hover:from-purple-700 hover:to-indigo-700">
            Let's Talk
          </button>
        </div>
      </div>
    </div>
  </div>
</Main>