---
import Main from '../layouts/main.astro'
---

<Main title='Privacy Policy | Artellectual'>
  <div class='bg-white py-24 sm:py-32 lg:py-40'>
    <div class="relative px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-prose text-lg">
        <h1>
          <span class="block text-center text-lg font-semibold text-purple-600">Privacy Policy</span>
          <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
            Your Privacy is Important to us
          </span>
        </h1>
        <p class="mt-8 text-xl text-center leading-8 text-gray-500">
          <strong>11th December 2022</strong>
        </p>
      </div>
      <div class="prose prose-lg prose-purple mx-auto mt-6 text-gray-500">
        <p>
          Artellectual Co., Ltd. ("us, we, or our") operates www.artellectual.com (the "Service").
        </p>

        <p>We care about your privacy. This page informs you of how we use your personal data when you use our services.</p>
      
        <p>We use your personal data to provide consulting services. By using our services or agree to work with our consultant, you agree to the collection and use of information in accordance with this policy.</p>

        <p>We do not share your personal data with any third parties except for services we use to provide you with consulting services.</p>

        <p>You are within your rights to refuse giving personal data, given that you understand that we may not be able to provide you with services.</p>

        <h2>Information we Collect</h2>

        <p>To provide our services to you we may need the following information.</p>

        <ul role="list">
          <li>Email</li>
          <li>Name</li>
          <li>Phone Number</li>
          <li>Cookies and various other usage data</li>
        </ul>

        <h2>External Tools and Links</h2>

        <p>We use various tools to provide services for you. We may be required to use your personal information like email to invite you to join these tools.</p>

        <p>If you are curious about the privacy policy of these external tools and websites, you will need to read the privacy policy on the respective sites.</p>
      </div>
    </div>
  </div>

  <div class="bg-purple-100">
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-24 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 md:text-4xl ">
        <span class="block">An hour making the right decisions</span>
        <span class="block text-purple-600">Can set your project up for success.</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <button onclick="$crisp.push(['do', 'chat:open'])" class="inline-flex items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-purple-700 to-indigo-700 px-5 py-3 text-base font-medium text-white hover:from-purple-700 hover:to-indigo-700">
            Let's Talk
          </button>
        </div>
      </div>
    </div>
  </div>
</Main>