---
import Main from '../layouts/main.astro';
---

<Main title='Privacy Policy | Artellectual'>
  <div class='bg-white py-24 sm:py-32 lg:py-40'>
    <div class="relative px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-prose text-lg">
        <h1>
          <span class="block text-center text-lg font-semibold text-purple-600">Privacy Policy</span>
          <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
            Your Privacy is Important to us
          </span>
        </h1>
        <p class="mt-8 text-xl text-center leading-8 text-gray-500">
          <strong>11th December 2022</strong>
        </p>
      </div>
      <div class="prose prose-lg prose-purple mx-auto mt-6 text-gray-500">
        <p>
          Artellectual Co., Ltd. ("us, we, or our") operates www.artellectual.com (the "Service").
        </p>

        <p>We care about your privacy. This page informs you of how we use your personal data when you use our services.</p>
      
        <p>We use your personal data to provide consulting services. By using our services or agree to work with our consultant, you agree to the collection and use of information in accordance with this policy.</p>

        <p>We do not share your personal data with any third parties except for services we use to provide you with consulting services.</p>

        <p>You are within your rights to refuse giving personal data, given that you understand that we may not be able to provide you with services.</p>
      </div>
    </div>
  </div>
</Main>