---
// Component Imports
import Main from '../layouts/main.astro';

import RocketLaunch from 'astro-heroicons/outline/RocketLaunch.astro';
import WrenchScrewdriver from 'astro-heroicons/outline/WrenchScrewdriver.astro';
import Bolt from 'astro-heroicons/outline/Bolt.astro';
import UserGroup from 'astro-heroicons/outline/UserGroup.astro'

import CloudArrowUp from 'astro-heroicons/outline/CloudArrowUp.astro';
import CodeBracket from 'astro-heroicons/outline/CodeBracket.astro';
import Beaker from 'astro-heroicons/outline/Beaker.astro';
import Play from 'astro-heroicons/outline/Play.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Main title='Services'>
  <div class="bg-white py-24 sm:py-32 lg:py-40">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="sm:text-center">
        <h2 class="text-lg font-semibold leading-8 text-purple-600">Product Direction</h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Laser sharp focussed on shipping the right Product</p>
        <p class="mx-auto mt-6 max-w-2xl text-lg leading-8 text-gray-600">Product engineering can be a costly endeavour if not done right. Missed timelines and teams losing focus are often symptoms of lack of strong technical direction. Products that are in development for a long time and never reach end customers are costly to any organization.</p>
      </div>
  
      <div class="mt-20 max-w-lg sm:mx-auto md:max-w-none">
        <div class="grid grid-cols-1 gap-y-16 md:grid-cols-2 md:gap-x-12 md:gap-y-16">
          <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
            <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-purple-500 to-indigo-600 text-white sm:shrink-0">
              <RocketLaunch class='h-8 w-8 text-white' />
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">Defining the MLP</p>
              <p class="mt-2 text-base leading-7 text-gray-600">Deciding what to build is often a tough choice. You want to have all the features but you have limited resources. It's critical to define a 'minimum lovable product'. To get the product out the door you want to build just enough to have a product your customers can love so they keep coming back.</p>
            </div>
          </div>
  
          <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
            <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-purple-500 to-indigo-600 text-white sm:shrink-0">
              <WrenchScrewdriver class='h-8 w-8 text-white' />
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">Choose the right tool for the Job</p>
              <p class="mt-2 text-base leading-7 text-gray-600">Are you using the right technology for the job? Or are you just choosing what's 'in trend'. Each product is unique, and may come with requirements more suitable for certain technologies. Choosing the right stack can accelerate how fast your product get shipped or how easy it is to iterate and maintain.</p>
            </div>
          </div>
  
          <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
            <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-purple-500 to-indigo-600 text-white sm:shrink-0">
              <Bolt class='h-8 w-8 text-white' />
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">Technical Specification</p>
              <p class="mt-2 text-base leading-7 text-gray-600">Once you've figured out 'what' you want to build you'll need to answer the 'how'. This is where the technical specification comes in. Translating product vision into tasks that can be understood by the development team. Making the right technical decisions on how to move forward means maximizing productivity.</p>
            </div>
          </div>
  
          <div class="relative flex flex-col gap-6 sm:flex-row md:flex-col lg:flex-row">
            <div class="flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-purple-500 to-indigo-600 text-white sm:shrink-0">
              <UserGroup class='h-8 w-8 text-white' />
            </div>
            <div class="sm:min-w-0 sm:flex-1">
              <p class="text-lg font-semibold leading-8 text-gray-900">Happy Teams are Productive Teams</p>
              <p class="mt-2 text-base leading-7 text-gray-600">We believe the team developing the product is the most important part of the whole process. Using the right strategy can make sure your team is focussed, happy and productive. Making progress is key to keeping team morale high. Shipping new things to customers ensures a growing team.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-purple-100">
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-24 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 md:text-4xl">
        <span class="block">An hour making the right decisions</span>
        <span class="block text-purple-600">Can set your project up for success.</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <button onclick="$crisp.push(['do', 'chat:open'])" class="inline-flex items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-purple-700 to-indigo-700 px-5 py-3 text-base font-medium text-white hover:from-purple-700 hover:to-indigo-700">
            Let's Talk
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="overflow-hidden bg-gray-50 py-16 lg:py-24">
    <div class="relative mx-auto max-w-xl px-6 lg:max-w-7xl lg:px-8">
      <svg class="absolute left-full hidden -translate-x-1/2 -translate-y-1/4 transform lg:block" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
      </svg>
  
      <div class="relative">
        <h2 class="text-center text-3xl font-bold leading-8 tracking-tight text-purple-600 sm:text-4xl">Product Development</h2>
        <p class="mx-auto mt-4 max-w-3xl text-center text-xl text-gray-500">
          Engineering discipline is critical to any growth driven product. Ensure low or no technical debt is collected to make sure your business can grow. We take engineering very seriously and consultants of Artellectual are engineers who've built and shipped various types of products.
        </p>
      </div>
  
      <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8">
        <div class="relative">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">DevOps & Infrastructure</h3>
          <p class="mt-3 text-lg text-gray-500">Your infrastructure setup should be done using Infrastructure as Code. This way everything is tracked in the code repository and auditable. This also enables automation to help your development team move faster.</p>
  
          <dl class="mt-10 space-y-10">
            <div class="relative">
              <dt>
                <div class="absolute flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-purple-500 to-indigo-600 text-white">
                  <CloudArrowUp class='h-8 w-8 text-white' />
                </div>
                <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Continuous Delivery</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Software updates are automated using continuous delivery. This means when the developer pushes to the code repository branch that correlates with the production environment the software is automatically updated. This ensures that updates are delivered often. We recommend deploying multiple times per week to reduce the gaps in updates reducing chance of failures.</dd>
            </div>
  
            <div class="relative">
              <dt>
                <div class="absolute flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-purple-500 to-indigo-600 text-white">
                  <CodeBracket class='h-8 w-8 text-white' />
                </div>
                <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Infrastructure as Code</p>
              </dt>
              <dd class="mt-2 ml-16 text-base text-gray-500">Infrastructure should be described as code and stored in the organization's repository. This gives full auditability to the infrastructure setup, it also means infrastructure setup is easy to automate and adhere to the phoenix server standards. In short developers should not be afraid of managing servers.</dd>
            </div>
          </dl>
        </div>
  
        <div class="relative -mx-4 mt-10 lg:mt-0" aria-hidden="true">
          <svg class="absolute left-1/2 -translate-x-1/2 translate-y-16 transform lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
            <defs>
              <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
              </pattern>
            </defs>
            <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
          </svg>
          <img class="relative mx-auto" width="490" src="https://tailwindui.com/img/features/feature-example-1.png" alt="">
        </div>
      </div>
  
      <svg class="absolute right-full hidden translate-x-1/2 translate-y-12 transform lg:block" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
        <defs>
          <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
      </svg>
  
      <div class="relative mt-12 sm:mt-16 lg:mt-24">
        <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:items-center lg:gap-8">
          <div class="lg:col-start-2">
            <h3 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-3xl">Software Development</h3>
            <p class="mt-3 text-lg text-gray-500">We constantly push ourselves for continuous excellence. Everything we do, we do it repeatedly in the interest of achieving the best result. We employ the best methodology to achieve the best results.</p>
  
            <dl class="mt-10 space-y-10">
              <div class="relative">
                <dt>
                  <div class="absolute flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-purple-500 to-indigo-600 text-white">
                    <Beaker class='h-8 w-8 text-white' />
                  </div>
                  <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Continuous Integration</p>
                </dt>
                <dd class="mt-2 ml-16 text-base text-gray-500">Continuous integration is an automated pipeline that ensures that the code that is pushed adheres to standards set by the engineering team of the company. Few examples of checks that can be configured to run are, whether all the automated tests pass or whether the coding style passes the standard set by the engineering team.</dd>
              </div>
  
              <div class="relative">
                <dt>
                  <div class="absolute flex h-12 w-12 items-center justify-center rounded-xl bg-gradient-to-tr from-purple-500 to-indigo-600 text-white">
                    <Play class='h-8 w-8 text-white' />
                  </div>
                  <p class="ml-16 text-lg font-medium leading-6 text-gray-900">Agility with Confidence</p>
                </dt>
                <dd class="mt-2 ml-16 text-base text-gray-500">
                  We're not afraid of change. In fact we embrace it. We make sure all the code we write is well tested using automated tests. It's important that we're not afraid of changing the code on a later day. When we get feedback about the product and we need to make a change, we're not afraid because we know if it breaks our tests will tell us. Products built by Artellectual is designed to embrace change without fear.
                </dd>
              </div>
            </dl>
          </div>
  
          <div class="relative -mx-4 mt-10 lg:col-start-1 lg:mt-0">
            <svg class="absolute left-1/2 -translate-x-1/2 translate-y-16 transform lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
              <defs>
                <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                  <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                </pattern>
              </defs>
              <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
            </svg>
            <img class="relative mx-auto" width="490" src="https://tailwindui.com/img/features/feature-example-2.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-gradient-to-tr from-purple-700 to-indigo-700">
    <div class="mx-auto max-w-7xl py-16 px-4 sm:py-20 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:px-8">
        <h2 class="text-3xl font-bold tracking-tight text-white">Core Technologies</h2>
      </div>
      <div class="mt-8 flow-root lg:mt-10">
        <div class="-mt-4 -ml-8 flex flex-wrap justify-between lg:-ml-4">
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-elixir-plain text-7xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-phoenix-plain text-7xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-rails-plain text-7xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-typescript-original text-7xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-react-original text-7xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-postgresql-plain-wordmark text-7xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-redis-plain-wordmark text-7xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-terraform-plain-wordmark text-7xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-googlecloud-plain-wordmark text-8xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-digitalocean-plain-wordmark text-8xl text-purple-300"></i>
          </div>
          <div class="mt-4 ml-8 flex flex-shrink-0 flex-grow lg:ml-4 lg:flex-grow-0">
            <i class="devicon-amazonwebservices-plain-wordmark text-8xl text-purple-300"></i>
          </div>
        </div>
      </div>
      <div class="mx-auto max-w-2xl px-4 text-center sm:px-6 lg:px-8">
        <p class="mt-4 text-lg leading-6 text-purple-200">That's just the start of the list.</p>
        <button onclick="$crisp.push(['do', 'chat:open'])" class="mt-8 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-white px-5 py-3 text-base font-medium text-purple-600 hover:bg-purple-50 sm:w-auto">
          Let's Talk!
        </button>
      </div>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0 w-full items-center justify-center">
        <div class="inline-flex rounded-md shadow mt-10">
          
        </div>
      </div>
    </div>
  </div>
</Main>

