---
import Main from '../layouts/main.astro'
---

<Main title="Terms and Conditions | Artellectual">
  <div class='bg-white py-24 sm:py-32 lg:py-40'>
    <div class="relative px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-prose text-lg">
        <h1>
          <span class="block text-center text-lg font-semibold text-purple-600">Terms and Condition</span>
          <span class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">
            We've kept it simple
          </span>
        </h1>
      </div>
      <div class="prose prose-lg prose-purple mx-auto mt-6 text-gray-500">
        <p>Artellectual Co., Ltd. ("us, consultant, we, or our") operates www.artellectual.com (the "Service").</p>
        <h2>Consulting Services</h2>
        <p>It is the responsibility of the client to provide context to the consultant to be able to give the best result. If information related to the specific consultation is witheld for any reason it is not the responsibility of the consultant if the recommendations / solutions are inaccurate.</p>
        <p>If the context changes and the new information is not given to the consultant, the solution, recommendations provided may be wrong.</p>
        <h3>Paper Trail</h3>
        <p>It's important that all discussions are written down in tools we use. If the consultant writes things down on the platforms and it is incorrect or the client has further questions it is the responsibility of the client to ask those questions on the tools provided.</p>
        <p>Tasks assigned to the consultant will be marked as "done" if the consultant deems them completed. If the client feels it is not "done" it is the responsibility of the client to ask questions or open a new conversation on the tools provided.</p>
        <h3>Billing</h3>
        <p>The consultant is responsible for tracking time. The client is billed by the hour spent by the consultant on the client's work. The cards / tasks mark done do not have impact on billing.</p>
        <h3>Scheduling</h3>
        <p>It's important to book your time. Since time is a limited resources. Once a desired time has been expressed by the client the consultant will book put the time slots on the tools shared with the client.</p>
        <p>All confirmation for scheduling will need to be written down, via email, basecamp, google calendar, or pre-agreed in the consulting agreement.</p>
        <p>If the client wishes to change the time for the consulting agreement, it is the responsibility of the client to inform the consultant in the tools provided.</p>
        <h2>Post-paid Hours</h2>
        <p>An invoice will be issued after the hours have been recorded. The billing period for post paid hours is the 1st of every month. It is the client's responsibility to pay invoices before the 15th of every month. If invoices are not paid on time invoices will incur a penalty for late payments.</p>
        <h3>Refunds</h3>
        <p>We do not offer refunds for time utilized. We reserve the right to refuse refunds for any invoices that has been issued for post-paid.</p>
        <h2>Pre-paid Hours</h2>
        <p>If you purchased pre-paid hours, you will need to consume them within the expiry date set in the agreement. Expiry period depends on how many hours you've pre paid.</p>
        <ul role="list">
          <li>less than 20 hours - utilized within 30 days after invoice date.</li>
          <li>more than 20 hours - utilized within 60 days after invoice date.</li>
        </ul>
        <p>If you are pre-paying for large amount of hours the expiry time can be agreed upon outside this terms and conditions. You will need to discuss this with the consultant before your purchase.</p>
        <h3>Refunds</h3>
        <p>We do not offer refunds for pre-paid hours. It is your responsibility to ensure that you schedule and book times with our consultant to consume those hours. If you ask for a refund after purchasing pre-paid hours we reserve the right to refuse the refund.</p>
        <h2>Subscriptions</h2>
        <p>If you purchased any subscription, please be aware that all our subscription services have a cancellation button. If you do not cancel your subscription you will be charged automatically on the billing date.</p>
        <h3>Refunds</h3>
        <p>We do not offer refunds for subscription that has been paid. We assume you have agreed to the terms and conditions and that you are aware that you will be charged in full at the billing period. If you ask for a refund it is within our right to refuse the refund.</p>
        <h2>One time Purchase</h2>
        <p>All purchases are final. Since we distribute digital assets, if you make a purchase we will not be able to issue you any kind of refund. We recommend you choose carefully before you make your purchase.</p>
      </div>
    </div>
  </div>
  <div class="bg-purple-100">
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:flex lg:items-center lg:justify-between lg:py-24 lg:px-8">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 md:text-4xl ">
        <span class="block">Not happy with our terms?</span>
        <span class="block text-purple-600">Let us know, we're open to feedback.</span>
      </h2>
      <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
        <div class="inline-flex rounded-md shadow">
          <button onclick="$crisp.push(['do', 'chat:open'])" class="inline-flex items-center justify-center rounded-md border border-transparent bg-gradient-to-r from-purple-700 to-indigo-700 px-5 py-3 text-base font-medium text-white hover:from-purple-700 hover:to-indigo-700">
            Let's Talk
          </button>
        </div>
      </div>
    </div>
  </div>
</Main>