---
import Inbox from 'astro-heroicons/outline/Inbox.astro';
---

<!-- Alternating Feature Sections -->
<div class="relative overflow-hidden pt-24 pb-24">
  <div aria-hidden="true" class="absolute inset-x-0 top-0 h-48 bg-gradient-to-b from-gray-100"></div>
  <div class="relative">
    <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
      <div class="mx-auto max-w-xl px-4 sm:px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
        <div>
          <div>
            <span class="flex h-12 w-12 items-center justify-center rounded-md bg-gradient-to-r from-purple-600 to-indigo-600">
              <!-- Heroicon name: outline/inbox -->
              <Inbox class='h-6 w-6 text-white' />
            </span>
          </div>
          <div class="mt-6">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 ">Private Access</h2>
            <p class="mt-4 text-lg text-gray-500">When you work with us, you'll have access to a private Basecamp and Notion project tailored to your company and project. In this project, you'll be able to see all the cards, notes created by your team members and the answers provided by our consultants. This way, you can keep track of everything and refer back to it whenever you need to. We value documentation and believe in keeping all information organized and accessible.</p>
            <div class="mt-6">
              <button onclick="$crisp.push(['do', 'chat:open'])" class="inline-flex rounded-md border border-transparent bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 text-base font-medium text-white shadow-sm hover:from-purple-700 hover:to-indigo-700">Get Started</button>
              <a href="https://artellectual.notion.site/MLP-Scope-5a504e08260a4da88267c36acb6b895d" target="_blank" class="inline-block rounded-md px-4 py-1.5 text-base font-semibold leading-7 text-gray-900 ring-1 ring-gray-900/10 hover:ring-gray-900/20">
                <span>View Example</span>
                <span class="text-gray-400" aria-hidden="true">&rarr;</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-12 sm:mt-16 lg:mt-0">
        <div class="-mr-48 pl-4 sm:pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
          <img class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none" src="/basecamp-notion.jpg" alt="Inbox user interface">
        </div>
      </div>
    </div>
  </div>
</div>